.project-card {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 100%; 
  }
  
  .project-card img {
    max-width: 500px; 
    margin-right: 20px; 
  }
  
  .project-card h4 {
    font-size: 1.5rem;
  }
  
  .project-card p {
    flex-grow: 1; 
  }
  
  .projects-container {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
  } 

  .project-title{
    align-items: center;
    margin: 20px;
  }

  .project-description, .project-written-in{
    align-items: center;
    margin: 20px;
    bottom: 10px;
  }